<html>
    <head>
        <title>
            MEMESK
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="refresh", content="30;url=http://127.0.0.1:5000/"/>
        <style>
            body {background-color: red;background-repeat: no-repeat;background-position: top left;} 
        </style>
    </head>
    <body>
        <h1></h1>
        <p>(will refresh with a new meme eery 30 secs)</p>
        <p>current img: {{meme_pic}}</p>
        <p><img src="{{ meme_pic }}" alt="memepicha"></p>
        <p>Current Subreddit: {{subreddit}}</p>
    </body>
</html>